body {
  background-color: white;
  margin: 0;
  height: auto;
  width: 1440px;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-position: left 0 top 0, right 0 top 30vh;;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  color: #8E398E;
  color: hsl(300, 43%, 22%);
}

p {
  line-height: 15px;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 85%;
  height: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slot-one {
  width: 45%;
  display: inline-block;
  overflow: auto;
  text-align: left;
  margin-left: 0;
}

.title {
  display: block;
  font-family: 'Spartan', sans-serif;
  font-size: 45px;
  line-height: 45px;
  margin-top: 5px;
}

.bio {
  display: block;
  line-height: 20px;
  margin-top: 15px;
  color: #937B92;
  color: hsl(303, 10%, 53%);
}

.slot-two {
  position: relative;
  width: 50%;
  height: 190px;
  overflow: auto;
  margin: 20px 0 5px 0;
}

.rating-text {
  color: #8E398E;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  margin-left: 20px;
}

.stars {
  display: inline-block;
}

.rating-one {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 55px;
  background-color: #F7F2F7;
  background-color: hsl(300, 24%, 96%);
}

.rating-one-text {
  margin-left: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.rating-two {
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 55px;
  background-color: #F7F2F7;
  background-color: hsl(300, 24%, 96%);
}

.rating-two-text {
  margin-left: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.rating-three {
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 55px;
  background-color: #F7F2F7;
  background-color: hsl(300, 24%, 96%);
}

.rating-three-text {
  margin-left: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slot-three {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-top: 30px;
}

.review-one {
  margin-right: 0;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 350px;
  background-color: #8E398E;
  background-color: hsl(300, 43%, 22%);
}

.review-two {
  margin: auto;
  border-radius: 10px;
  width: 350px;
  background-color: #8E398E;
  background-color: hsl(300, 43%, 22%);
}

.review-three {
  margin-right: 0;
  margin-top: 50px;
  border-radius: 10px;
  width: 350px;
  background-color: #8E398E;
  background-color: hsl(300, 43%, 22%);
}

.review-header {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.profile-picture {
  float: left;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.review-header-text {
  margin-left: 20px;
}

.profile-name {
  display: block;
  font-weight: bold;
  color: white;
  line-height: 20px;
  opacity: 0.8;
}

.profile-title {
  display: block;
  color: #EE68A4;
  color: hsl(333, 80%, 67%);
  opacity: 0.8;
}

.review-text {
  color: white;
  margin: 25px 30px 30px 30px;
  line-height: 20px;
  opacity: 0.8;
}

.footer{
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: flex-end;
}
.attribution {
  font-size: 10px;
  text-align: center;
}
.attribution a {
  color: #EE68A4;
  color: hsl(333, 80%, 67%);
  opacity: 0.8;
}
